.calculator {
  text-align: left;
  background-color: white;
  height: auto;
  width: 70%;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.heading p {
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

.heading {
  width: 90%;
}

.row {
  display: flex;
  justify-content: start;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4vh;
}

.row2 {
  display: flex;
  justify-content: start;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5vh;
}

.left {
  display: flex;
  justify-content: left;
  width: 50%;
}


.right {
  display: flex;
  margin-left: 10px;
  justify-content: right;
  width: 50%;
  padding-left: 5%;
}

#text {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0F1629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 30%;
  margin-left: 10px;
}

#block-div {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 40px;
}

#block-div-end-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}
#block-div-end-left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
}
#block-div-end-left #block{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0px;
  background: #EBF2FF;
}
#block-div-end-right #block{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0px;
  background: #EBF2FF;
}
#block-div-end-right #p2{
  color: #0141CF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 5px;
}
#block-div-end-left #p2{
  color: #0FBA83;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
}
#p1{
  height: 5px;
}
#p2{
  height: 5px;
}

#block-div-end-left #block{
  display: flex;
  justify-content: center;
  padding-left: 0px;
  background: #EBF9F4;
}

#block {
  background-color: rgb(239, 242, 245);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #0F1629;
  border-radius: 12px;
  margin-left: 8px;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

#block-rate {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
}


#line {
  width: 100%;
  border-bottom: 1px solid #C9CFDD99;
  height: 1px;
}


.row2 .left {
  flex-direction: column;
}

.row2 #block {
  margin-left: 0px;
}

.row2 .right {
  justify-content: flex-end;
}

.inner-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row2 #text {
  width: 100%;
}

.row2 #block-div {
  width: 100%;
  height: 50px;
}

#block {
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

#select-box {
  height: 100%;
  width: 49%;
  border: 1px solid #3E424A;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#select-box p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
  height: 100%;
  cursor: pointer;
}

#tick {
  display: inline;
  margin-left: 5px;
  font-size: 18px;
}

#block::after {
  border: none;
}

@media (max-width: 768px) {
  .calculator{
    width: 98%;
    justify-content: center;
  }
  .row2{
    display: block;
  }
  .left{
    display: block;
    width: 100%;
    padding-left: 0%;
  }
  .row #block-div{
    width: 100%;
  }
  .row #block{
    width: 100%;
    margin-left: 0;
  }
  #text{
    width: 100%;
  }
  .right{
    display: block;
    width: 100%;
    padding-left:0%;
  }
  #text{
    margin-left: 0%;
  }
  .row2 .right{
    justify-content: left;
    margin-left: 0px;
  }
  .block-div-end-right{
    margin-top: 10px;
  }
  .left{
    margin-bottom: 4vh;
  }
  .row{
    margin-bottom: 1vh;
  }
}